/* TITRE */

#searchHeader {
    border-bottom: 4px solid #cc424e;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.2em;
    margin-top: 0;
    padding: 5px;
    text-transform: uppercase;
}

/* RECHERCHE OCCURRENCES */


#searchTabs> li.active > a,
#searchTabs > li > a{
    color: #a6ac1a;
}

.title-tab{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
}

#content{
    margin-top: 25px;
}

/* RECHERCHE OCCURRENCES - TAB RECHERCHE SIMPLE*/

.form-control{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color: #555;
    font-size: 14px;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px; 
}

.search-occurrence{
    border: 1px solid rgba(136, 126, 124, 1);
    border-radius: 4px;
    height: 46px;
    line-height: 1.42857;
    background-color: rgba(136, 126, 124, 1);
    background-image: none;
    border: 1px solid rgba(136, 126, 124, 1);
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
}

.search-occurrence:hover {
    background-color: rgba(136, 126, 124, 1);
    border: 1px solid rgba(136, 126, 124, 1); 
    color: white;
}

.controls{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 35px;
}

/* RECHERCHE OCCURRENCES - TAB RECHERCHE AVANCE*/

#solrQuery{
    position:absolute;
    left:-9999px;
}

.advancesearchTitle{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(51, 51, 51);
}

.labels{
    color: rgba(51, 51, 51);
}

.advanced-search-occurrence{
    border: 1px solid rgba(136, 126, 124, 1);
    border-radius: 4px;
    background-color: rgba(136, 126, 124, 1);
    background-image: none;
    border: 1px solid rgba(136, 126, 124, 1);
    color: white;
}

/* RECHERCHE OCCURRENCE : PAGE RESULTAT */

#solrSubmit {
    border: 1px solid rgba(136, 126, 124, 1);
    background-color: rgba(136, 126, 124, 1);
    background-image: none;
    border: 1px solid rgba(136, 126, 124, 1);
    color: white;
}
